@mixin heart-icon{
  content: '\f004';
}

@mixin incognito-icon{
  content: '\F21B';
}

@mixin search-icon{
  content: '\f002';
}

@mixin bucket-icon{
  content: '\f171';
}

@mixin chevron-down-icon{
  content: '\f078';
}

@mixin chevron-up-icon{
  content: '\f077';
}

@mixin eye-icon{
  content: '\f06e';
}


.icon{
  &::before{
    font-family: FontAwesome, sans-serif;
  }
  &-incognito{
    &::before{
      @include incognito-icon;
      font-size: 30px;
      color: purple;
    }
  }
}