@import "normalize";
@import "fonts";
@import "variables";
@import "icons";
@import "react-table";
@import "../../components/elements/elements";
@import "../../components/search-screen/search-screen";
@import "../../components/bucket/bucket-screen";
@import "../../components/graphs-view/graphs-screen";

body{
  @include main-theme-font-regular;
  font-size: 16px;
}

.app{
  display: flex;
}

.title{
  @include main-theme-font-regular;
  text-align: center;
}

.loading{
  @include main-theme-font-regular;
  text-align: center;
  margin: 40px 0;
  font-size: 20px;
}
.container{
  max-width: 1240px;
  margin: auto;
}
.nav-panel {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.cell{
  cursor: pointer;
}

.blur{
  filter: blur(2px);
}