.button{
  display: block;
  margin: auto;
  border: 1px solid $main-them-color;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 0 15px;
  height: 32px;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  left: 55px;
  &::before{
    font-family: FontAwesome, sans-serif;
    @include eye-icon;
    font-size: 22px;
    padding-right: 5px;
  }
  @each $button in (bucket, search) {
    &-#{$button} {
      display: block;
      width: 32px;
      height: 32px;
      background: white;
      border-radius: 4px;
      border: 1px solid $main-them-color;
      box-sizing: border-box;
      cursor: pointer;
      &:focus{
        outline: none;
      }
      &:active{
        border-width: 2px;
      }
      &::before{
        font-family: FontAwesome, sans-serif;
        font-size: 22px;
        line-height: normal;
        width: inherit;
        height: inherit;
      }
    }
  }
  &-bucket{
    &::before{
      @include bucket-icon;
    }
  }
  &-search{
    &::before{
      @include search-icon;
    }
  }
  &-delete{
    font-size: 20px;
    text-align: center;
    display: block;
    width: 100%;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font-weight: 600;
    color: red;
    cursor: pointer;
    &:focus{
      outline: none;
      border: none;
    }
    &:hover{
      color: white;
    }
  }
}