.notification{
  position: fixed;
  z-index: 1;
  top: 20px;
  right: 20px;
  width: 200px;
  border: 1px solid $main-them-color;
  border-radius: 4px;
  padding: 10px 15px;
  text-align: center;
  background: white;
  animation: notifAnim 0.3s 1 linear;
  p{
    margin: 0;
  }
}

@keyframes notifAnim {
  from{transform: translateX(200px)}
  to{transform: translateX(0)}
}
