.popup{
  position: relative;
  background: white;
  width: 500px;
  top: calc(50% - 275px);
  margin: auto;
  z-index: 3;
  border: 1px solid $main-them-color;
  border-radius: 4px;
  &-body{
    &-info{
      padding: 10px 20px 25px;
      border-top: 1px solid $main-them-color;
      &__type{
        margin: 10px 0;
      }
      &-relations{
        border: 1px solid $main-them-color;
        overflow-y: auto;
        height: 300px;
        label{
          font-weight: 600;
        }
        &__entity{
          padding: 5px 10px;
          h4{
            margin-bottom: 0;
          }
          &:not(:last-child) {
            border-bottom: 1px solid $main-them-color;
          }
        }
      }
    }
  }
  &__title{
    font-size: 25px;
    text-align: center;
    font-weight: 600;
  }
  &__close{
    position: absolute;
    cursor: pointer;
    right: 5px;
    top: 0;
    font-size: 24px;
    font-weight: 600;
    color: red;
    margin: 0;
    &:hover{
      color: black;
    }
  }
  &-overlay{
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
}