.search-screen{
  position: relative;
  padding: 0 20px;
  .ReactTable{
    border: 1px solid $main-them-color;
  }
  .ReactTable .rt-thead .rt-th, .ReactTable .rt-thead .rt-td{
    &:not(:last-child){
      border-right: 1px solid $main-them-color;
    }
  }
  .ReactTable .rt-tbody .rt-td{
    &:not(:last-child){
      border-right: 1px solid $main-them-color;
    }
  }
  .ReactTable .rt-tbody .rt-tr-group{
    border-bottom: 1px solid $main-them-color;
    &:hover{
      border-bottom: 1px solid white;
      color: white;
      background: black;
    }
  }
}