.select{
  position: relative;
  &-button{
    padding: 5px 25px 5px 10px;
    background-color: white;
    border: 1px solid $main-them-color;
    border-radius: 4px;
    width: 200px;
    cursor: pointer;
    text-align: left;

    &:focus{
      outline: none;
    }
    @each $chevron in  (opened, closed) {
      &--#{$chevron} {
        &::after{
          font-family: FontAwesome, sans-serif;
          font-size: 12px;
          position: absolute;
          line-height: 20px;
          right: 7px;
        }
      }
    }
    &--opened{
      &::after{
        @include chevron-up-icon;
      }
    }
    &--closed{
      &::after{
        @include chevron-down-icon;
      }
    }
  }
  &-list{
    position: absolute;
    display: none;
    list-style: none;
    padding: 0;
    border: 1px solid $main-them-color;
    border-radius: 4px;
    background-color: white;
    top: 65%;
    z-index: 1;
    &--open{
      display: block;
    }
    &__item{
      padding: 5px 30px;
      cursor: pointer;
      &:not(:last-child) {
        border-bottom: 1px solid $main-them-color;
      }
    }
  }
}