.search-field{
  position: relative;
  width: 273px;
  height: 32px;
  margin: 10px auto;
  text-align: center;
  &::after{
    position: absolute;
    right: 55px;
    top: 5px;
    font-size: 20px;
    font-family: FontAwesome, sans-serif;
    @include search-icon;
  }
  input[type=text] {
    position: relative;
    right: 50px;
    font-size: 18px;
    padding: 5px 25px 5px 10px;
    border-radius: 4px;
    border: 1px solid $main-them-color;
    box-sizing: border-box;
    width: inherit;
    height: inherit;
    &:focus{
      outline: none;
      border-width: 2px;
    }
  }
}